@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model BIDV.Model.bidv__menu
<div class="row">
    @using (Html.BeginForm("Add", "AdminMenu", FormMethod.Post))
    {
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin cơ bản</h3>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Tên menu</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="title" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>URL</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="link" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Kiểu lên kết</label>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="type">
                                        <option value="">-- Chọn loại liên kết --</option>
                                        <option value="0">Liên kết trong website</option>
                                        <option value="1">Liên kết bên ngoài website</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Sắp xếp</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" name="weight" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>No follow</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="checkbox" name="no_follow" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Bật tab mới</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="checkbox" name="target" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Loại menu</label>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="position">
                                        <option value="">-- Chọn loại menu --</option>
                                        <option value="0">Header</option>
                                        <option value="1">Footer</option>
                                        <option value="2">Hệ thống</option>
                                        <option value="3">Khác</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Menu cha</label>
                                </div>
                                @{
        var listMenu = (IEnumerable<BIDV.Model.bidv__menu>)ViewBag.ListMenu;
                                }
                                <div class="col-xs-4">
                                    <select class="form-control" name="parent" id="parent">
                                        <option value="" selected="selected">-- Chọn menu --</option>
                                        <optgroup label="Header"></optgroup>
                                        @foreach (var item in listMenu)
                                        {
                                            if (@item.position == 0)
                                            {
                                                <option value="@(item.id)">@item.title</option>
                                            }
                                        }
                                        <optgroup label="Footer"></optgroup>
                                        @foreach (var item in listMenu)
                                        {
                                            if (@item.position == 1)
                                            {
                                                <option value="@(item.id)">@item.title</option>
                                            }
                                        }
                                        <optgroup label="Hệ thống"></optgroup>
                                        @foreach (var item in listMenu)
                                        {
                                            if (@item.position == 2)
                                            {
                                                <option value="@(item.id)">@item.title</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-sm">
                <div class="row">
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-default btn-success">Lưu thay đổi</button>
                    </div>
                    <div class="col-xs-1">
                        <a href="/AdminMenu" class="btn btn-default btn-danger">Hủy bỏ</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

