@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BIDV.Common
@using BIDV.Model
@model BIDV.Model.bidv__category
@{
    var objFirstCard = (bidv__card)ViewBag.FirstCard;
    var lstSlogan = (List<bidv__slogan>)ViewBag.Slogan;
}
<div class="bv_slide_home">
    <div class="jcarousel-wrapper">
        <div class="jcarousel jcarousel_dvthe">
            <ul>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <img style="background: transparent url('/Content/FrontEnd/_img_server/category/@HelperDateTime.DateTimeToyyyymmdd(Model.created.Value)/size1500/@Model.image') no-repeat center center; width: 100%; background-size: cover" src="/Content/FrontEnd/style/images/blank.gif" />
                    </a>
                    <div class="bv_contain bv_slide_jc" style="z-index: 2">
                       @Html.Raw(HttpUtility.HtmlDecode(Model.nut))
                       @* <p><a class="bv_style_btn bv_style_btn_dvt" href="https://ebank.bidv.com.vn/DKT/" target="_blank">Đăng k&yacute; ngay</a> <a class="bv_style_btn bv_style_btn_dvt_two" href="/Content/FrontEnd/_img_server/files/2016/07/27/Huong%20dan%20su%20dung%20the%20ghi%20no%20noi%20dia%20(the%20ATM).pdf" target="_blank">HƯỚNG DẪN SỬ DỤNG</a></p>*@
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            shop.ready.add(function () {
                $(function () {
                    var jcarousel = $('.jcarousel');

                    jcarousel
                            .on('jcarousel:reload jcarousel:create', function () {
                                jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                            })
                            .jcarousel({
                                wrap: 'circular',
                                transitions: Modernizr.csstransitions ? {
                                    transforms: Modernizr.csstransforms,
                                    transforms3d: Modernizr.csstransforms3d,
                                    easing: 'ease'
                                } : false
                            });

                    $('.jcarousel-pagination')
                            .on('jcarouselpagination:active', 'a', function () {
                                $(this).addClass('active');
                            })
                            .on('jcarouselpagination:inactive', 'a', function () {
                                $(this).removeClass('active');
                            })
                            .on('click', function (e) {
                                e.preventDefault();
                            })
                            .jcarouselPagination({
                                item: function (page) {
                                    return '<a href="#' + page + '">' + page + '</a>';
                                }
                            });
                });
            });
        </script>

        <div class="bv_title_box">
            <div class="bv_contain">
                <div class="bv_title_box_padding">
                    <div class="bv_title_box_t">
                        @Model.title
                    </div>
                    <ul class="bv_title_box_mnu">
                        <li><a href="/"> Trang chủ&nbsp;&nbsp;<i class="bv_ic_arrmenu"></i></a></li>
                        <li><a href="javascript:void(0)"> Dịch vụ thẻ&nbsp;&nbsp;<i class="bv_ic_arrmenu"></i></a></li>
                    </ul>
                    <div class="c"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bv_dvthe_top">
        <div class="bv_contain">
            <div class="bv_dvthe_top_title">@objFirstCard.title</div>
            <div class="bv_dvthe_top_note">@objFirstCard.title_seo</div>
            <ul class="bv_dvthe_top_build">
                @{
                    var x = Convert.ToInt32(Math.Ceiling((double)lstSlogan.Count / 2));
                    <li class="bv_dvthe_top_build_li" style='text-align: left'>
                        @for (int i = 0; i < x; i++)
                        {
                            <div style="color:@lstSlogan[i].color" class="bv_dvthe_top_build_tet">@lstSlogan[i].title</div>
                            <div style="margin-bottom: 40px" class="bv_dvthe_top_build_note">@lstSlogan[i].description</div>
                        }
                    </li>
                    <li class="bv_dvthe_top_build_li" style="text-align: center">
                        @{
                            var lstChildCard = (List<bidv__card>)ViewBag.ChildCard;
                            if (ViewBag.ChildCard != null)
                            {
                                <img id="card_show" src="/Content/FrontEnd/_img_server/card/@HelperDateTime.DateTimeToyyyymmdd(objFirstCard.created.Value)/size280/@objFirstCard.image" style="margin-bottom: 15px;width:258px" />
                                <ul class="bv_dvthe_top_build_menu">
                                    @for (int i = 0; i < lstChildCard.Count; i++)
                                    {
                                        <li><a class="@(i==0?"active":"")" onclick="change_card('/Content/FrontEnd/_img_server/card/@HelperDateTime.DateTimeToyyyymmdd(lstChildCard[i].created.Value)/size280/@lstChildCard[i].image', this)" href="javascript:void(0)">@lstChildCard[i].title_text</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <img id="card_show" src="/Content/FrontEnd/_img_server/card/@HelperDateTime.DateTimeToyyyymmdd(objFirstCard.created.Value)/size280/@objFirstCard.image" style="margin-bottom: 15px;width:258px" />
                                <a class="bv_dvthe_top_build_more" href="/CardService/Details/@objFirstCard.id">CHI TIẾT</a>
                                <a style="background-color: #ed1c24" class="bv_dvthe_top_build_more" href="/Content/FrontEnd/_img_server/files/2016/07/27/13 07 2016 Dieu kien dieu khoan The tin dung quoc te.pdf" target="_blank">Điều kiện điều khoản</a>
                            }
                        }
                    </li>
                    <li class="bv_dvthe_top_build_li" style='text-align: right'>
                        @for (int j = x; j < lstSlogan.Count; j++)
                        {
                            <div style="color: @lstSlogan[j].color" class="bv_dvthe_top_build_tet">@lstSlogan[j].title</div>
                            <div style="margin-bottom: 40px" class="bv_dvthe_top_build_note">@lstSlogan[j].description</div>
                        }
                    </li>
                }
            </ul>
            <div class="c"></div>
            @{ Html.RenderAction("ProductService", "CardService", new { type = "list" });}
            <div class="c"></div>
        </div>
        <div class="bv_dvt_slidethe ">
            <div class="bv_contain">
                <ul>
                    @{Html.RenderAction("ListCardNgang", "CardService", new { id = Model.id });}
                </ul>
            </div>
        </div>

    </div>
    @if (Model.active == 0)
    {
        <div style="cursor: pointer" class="bv_dvthe_ss" id="bv_dvthe_ss">
            <div class="bv_contain">
                @Html.Raw(HttpUtility.HtmlDecode(Model.sosanh))
            </div>
        </div>
    }
    else
    {
        <div class="bv_dvthe_iinfo_den">
            <div class="bv_contain">
                <ul class="bv_dvthe_iinfo_den_menu">
                    <li>
                        <a href="javascript:void(0)" onclick="scrolldow('.bv_dvthe_iinfo_b_content',this)">
                            <i class="bv_ic_tinhnang"></i>
                            <span>tính năng</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="scrolldow('.bv_dvthe_iinfo_b_content',this)">
                            <i class="bv_ic_mota"></i>
                            <span>MÔ TẢ</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="scrolldow('.bv_dvthe_iinfo_b_content',this)">
                            <i class="bv_ic_giaodich"></i>
                            <span>GIAO DỊCH</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="scrolldow('.bv_dvthe_iinfo_xam',this)">
                            <i class="bv_ic_bieuphi"></i>
                            <span>BIỂU PHÍ DỊCH VỤ</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="scrolldow('.bv_dvthe_iinfo_trang',this)">
                            <i class="bv_ic_hanmuc"></i>
                            <span>Hạn mức giao dịch</span>
                        </a>
                    </li>
                </ul>
                <div class="c"></div>
                <ul class="bv_dvthe_iinfo_b_content">
                    <li class="content">
                        <div class="title"><i class="bv_ic_tinhnangbig"></i>tính năng</div>
                        <ul class="bv_dvthe_iinfo_b_content_build">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.tinh_nang))
                        </ul>
                    </li>
                    <li class="content">
                        <div class="title"><i class="bv_ic_motabig"></i>Mô tả</div>
                        <ul class="bv_dvthe_iinfo_b_content_build">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.mota))
                        </ul>
                    </li>
                    <li class="content">
                        <div class="title"><i class="bv_ic_giaodichbig"></i>Giao dịch</div>
                        <ul class="bv_dvthe_iinfo_b_content_build_giaodich">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.diem_gd))
                        </ul>
                    </li>
                </ul>
                <div class="c"></div>
            </div>
        </div>
        <div class="bv_dvthe_iinfo_xam">
            <div class="bv_contain">
                @Html.Raw(HttpUtility.HtmlDecode(objFirstCard.bieuphi))
                <div class="c"></div>
            </div>
        </div>
        <div class="bv_dvthe_iinfo_trang">
            <div class="bv_contain">
                <div class="bv_dvthe_iinfo_trang_title">
                    <i class="bv_ic_hanmuc_big"></i>
                    <div class="title_3">
                        Hạn mức<br />giao dịch (VNĐ)
                    </div>
                    <div class="c"></div>
                </div>
                @Html.Raw(HttpUtility.HtmlDecode(objFirstCard.hanmuc))
                <div class="c"></div>
            </div>
        </div>
    }


    <script>
        function change_card(src, obj) {
            jQuery('.bv_dvthe_top_build_menu li a').removeClass('active');
            jQuery('#card_show').attr('src', src);
            jQuery(obj).addClass('active');
        }
        function scrolldow(bclass, obj) {
            $('html, body').stop().animate({
                scrollTop: $(bclass).offset().top - 180
            }, 400);
            $('.bv_dvthe_iinfo_den_menu li a').removeClass('active');
            $(obj).addClass('active');
        }
    </script>

    <script type="text/javascript">
        shop.ready.add(function () {
            shop.attach.loadByObject(1, 'category', function (data) {
                for (var i in data['data']) {
                    //console.log(data['data'][i]);
                    var link = data['data'][i].download;
                    jQuery('#bv_dvthe_ss').attr('onclick', 'window.open("' + link + '","_blank");');
                }

            });
        });
    </script>

