@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/mobile/Views/Shared/_LayoutPage.cshtml";
}
@using BIDV.Common
@using BIDV.Model
@model BIDV.Model.bidv__news
<div class="bv_slide_home">
    <div class="jcarousel-wrapper">
        <div class="jcarousel jcarousel_uudai" data-jcarousel="true" data-jcarouselautoscroll="true">
            <ul style="transition-duration: 0s; transition-timing-function: ease; transition-property: all; transform: translate3d(0px, 0px, 0px);"></ul>
        </div>
    </div>

    <script type="text/javascript">
        shop.ready.add(function () {
            $(function () {
                var jcarousel = $('.jcarousel');

                jcarousel
                        .on('jcarousel:reload jcarousel:create', function () {
                            jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                        })
                        .jcarousel({
                            wrap: 'circular',
                            animation: {
                                duration: 1200,
                                easing: 'linear',
                                complete: function () { }
                            },
                            transitions: Modernizr.csstransitions ? {
                                transforms: Modernizr.csstransforms,
                                transforms3d: Modernizr.csstransforms3d,
                                easing: 'ease'
                            } : false
                        }).jcarouselAutoscroll({
                            interval: 6000,
                            target: '+=1',
                            autostart: true
                        });

                $('.jcarousel-pagination')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .on('click', function (e) {
                            e.preventDefault();
                        })
                        .jcarouselPagination({
                            item: function (page) {
                                return '<a href="#' + page + '">' + page + '</a>';
                            }
                        });
            });
        });
    </script>

    <div class="bv_title_box">
        <div class="bv_contain">
            <div class="bv_title_box_padding">
                <ul class="bv_title_box_mnu">
                    <li><a href="/"> Trang chủ&nbsp;&nbsp;<i class="bv_ic_arrmenu"></i></a></li>
                    <li><a href="/News"> Tin tức&nbsp;&nbsp;<i class="bv_ic_arrmenu"></i></a></li>
                </ul>

                <div class="c"></div>
            </div>
        </div>
    </div>
</div>
<div class="bv_box_details">
    <div class="bv_contain">
        <div class="bv_box_details_padding">
            <div class="bv_box_details_tit">
                @Model.title
            </div>
            <div style="width:100%" class="bv_news_list_tit_m mBottom15" href="/News/Detail/@Model.id">
                <span class="view"><i class="bv_ic_views"></i>@Model.view</span>
                <span class="time">@HelperDateTime.ConvertTimespan2DateTime(@Model.created).ToString("dd/MM/yyyy")</span>
            </div>
            <div class="bv_box_details_des">
                @Model.sort_body
            </div>
            <div id="popup_galery" class="bv_box_details_info">
                @Html.Raw(HttpUtility.HtmlDecode(Model.body))
            </div>
            <div id="attach-con" class="mTop20"></div>
        </div>
        <div class="bv_box_details_Lienquan">
            <div class="bv_box_details_Lienquan_left">
                <span><span></span> Từ khóa liên quan:</span>
                @{
                    var listTag = Model.bidv__tag_items;

                }
                @foreach (var item in listTag)
                {
                    <a target="_blank" href="/News/FindTag?tagName=@item.bidv__tags.tag">@item.bidv__tags.title</a>
                }
            </div>
            <ul class="bv_box_details_Lienquan_right">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbidv.ezcms.org%2Ftin-tuc%2Fbidv-nhan-04-giai-thuong-cua-to-chuc-the-mastercard-trong-nam-2014-2015-17.html" target="_blank"></a></li>
                <li><a href="https://twitter.com/home?status=http%3A%2F%2Fbidv.ezcms.org%2Ftin-tuc%2Fbidv-nhan-04-giai-thuong-cua-to-chuc-the-mastercard-trong-nam-2014-2015-17.html" target="_blank"></a></li>
                <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fbidv.ezcms.org%2Ftin-tuc%2Fbidv-nhan-04-giai-thuong-cua-to-chuc-the-mastercard-trong-nam-2014-2015-17.html" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fbidv.ezcms.org%2Ftin-tuc%2Fbidv-nhan-04-giai-thuong-cua-to-chuc-the-mastercard-trong-nam-2014-2015-17.html&amp;title=BIDV+nh%E1%BA%ADn+04+gi%E1%BA%A3i+th%C6%B0%E1%BB%9Fng+c%E1%BB%A7a+t%E1%BB%95+ch%E1%BB%A9c+th%E1%BA%BB+MasterCard+trong+n%C4%83m+2014-2015&amp;summary=&amp;source=" target="_blank"></a></li>
            </ul>
            <div class="c"></div>
        </div>
        <div class="bv_box_details_padding">
        </div>
    </div>
</div>

<script type="text/javascript">
    shop.ready.add(function () {
        shop.attach.loadByObject(17, 'news', function (data) {
            jQuery('#attach-con').html(data.html);
        });
    });
</script>
<div style="background-color: #ddddde;padding: 20px 0">
    <div class="bv_contain">
        <div class="bv_menucate_newsmore_right_build">
            <div class="bv_menucate_newsmore_right_title">
                Tin tức Nổi BẬT
            </div>
            <ul class="bv_news_list">
                @{
                    var lstOtherNews = Model.bidv__category.bidv__news.Where(a => a.cat_id.Equals(Model.cat_id) && a.is_hot == 1 && a.status == 1);
                    var listHotNew = lstOtherNews.Where(g => g.id != Model.id).OrderByDescending(g => g.created);
                }
                @foreach (var item in listHotNew)
                {
                    var bidvNewsImage = item.bidv__news_image.FirstOrDefault(a => a.news_id.Equals(item.id));

                    <li>
                        <a class="bv_news_list_img_m" href="/News/Detail/@item.id">
                            <img height="70" width="100%" src="~/Content/FrontEnd/style/images/blank.gif" style="background-image: url(@if (@bidvNewsImage != null)
                                {
                                    @HelperString.GetImageUrl(item.created, @bidvNewsImage.image, Constant.ImageSize80,Constant.CategoryNew)
                                });background-size:cover">
                        </a>
                        <a class="bv_news_list_tit_m" href="/News/Detail/@item.id">
                            <span class="bv_news_list_tit_m_s">@item.title</span>
                            <span class="view"><i class="bv_ic_views"></i>@item.view</span>
                            <span class="time">@HelperDateTime.ConvertTimespan2DateTime(item.created).ToString("dd/MM/yyyy")</span>
                        </a>
                        <div class="c"></div>
                    </li>
                }
            </ul>

        </div>
        <div class="bv_menucate_cn_title_box">
            Từ KHÓA Nổi bật
        </div>
        <ul class="bv_menucate_list_key" style="margin-bottom: 30px">
            @{
                var listTagHot = (List<bidv__tags>)ViewBag.TagHot;
                foreach (var item in listTagHot)
                {
                    <li><a target="_blank" href="/News/HotTag?tagName=@item.tag">@item.title</a></li>
                }

            }
        </ul>
    </div>
</div>
