@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Activities.Expressions
@using BIDV.Common
@using BIDV.Model
@using PagedList;
@using PagedList.Mvc;
@model  PagedList.IPagedList<BIDV.Model.bidv__news>

@{ var objFeature = (bidv__feature)TempData["Feature"];}
<div class="bv_slide_home">
    <div class="jcarousel-wrapper">
        <div class="jcarousel jcarousel_uudai" data-jcarousel="true" data-jcarouselautoscroll="true">
            <ul style="transition-duration: 0s; transition-timing-function: ease; transition-property: all; transform: translate3d(0px, 0px, 0px);">
                <li style="width: 1583px;">
                    <a href="http://card.bidv.com.vn/Khong-gian-BIDV-Card/Ban-tin-BIDV-Card/Tin-BIDV/Co-hoi-xem-tran-Derby-th--224;nh-Manchester-tai-Ba.aspx" target="_blank">
                        @if (objFeature != null)
                        {
                            @*<img height="358" style="background: transparent url('/Content/FrontEnd/_img_server/feature/2016/05/11/size1300/tin_khuyen_mai_1462901386.jpg') no-repeat center center;width: 100%;background-size: cover" src="/Content/FrontEnd/style/images/blank.gif">*@
    <img style="background: transparent url('/Content/FrontEnd/_img_server/feature/@HelperDateTime.DateTimeToyyyymmdd(objFeature.created.Value)/size1300/@objFeature.image') no-repeat center center; width: 100%; background-size: cover" src="/Content/FrontEnd/style/images/blank.gif" />
                        }
                    </a>
                    <div class="bv_contain bv_slide_jc" style="z-index: 2">
                        <p><a clas="bv_style_btn" href="http://card.bidv.com.vn/Khong-gian-BIDV-Card/Ban-tin-BIDV-Card/Tin-BIDV/Co-hoi-xem-tran-Derby-th--224;nh-Manchester-tai-Ba.aspx">Các tin tức khuyến mại cập nhật tại đây</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        shop.ready.add(function () {
            $(function () {
                var jcarousel = $('.jcarousel');

                jcarousel
                        .on('jcarousel:reload jcarousel:create', function () {
                            jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                        })
                        .jcarousel({
                            wrap: 'circular',
                            animation: {
                                duration: 1200,
                                easing: 'linear',
                                complete: function () { }
                            },
                            transitions: Modernizr.csstransitions ? {
                                transforms: Modernizr.csstransforms,
                                transforms3d: Modernizr.csstransforms3d,
                                easing: 'ease'
                            } : false
                        }).jcarouselAutoscroll({
                            interval: 6000,
                            target: '+=1',
                            autostart: true
                        });

                $('.jcarousel-pagination')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .on('click', function (e) {
                            e.preventDefault();
                        })
                        .jcarouselPagination({
                            item: function (page) {
                                return '<a href="#' + page + '">' + page + '</a>';
                            }
                        });
            });
        });
    </script>

    <div class="bv_title_box">
        <div class="bv_contain">
            <div class="bv_title_box_padding">
                <div class="bv_title_box_t">
                    TIN TỨC KHUYẾN MẠI
                </div>
                <ul class="bv_title_box_mnu">
                    <li><a href="/"> Trang chủ&nbsp;&nbsp;<i class="bv_ic_arrmenu"></i></a></li>
                </ul>
                <div class="c"></div>
            </div>
        </div>
    </div>
</div>
<div class="bv_news">
    <div class="bv_contain">
        <ul class="bv_news_list" style="padding-top: 70px">
            @foreach (var item in Model)
            {
                var bidvNewsImage = item.bidv__news_image.OrderByDescending(g => g.created).FirstOrDefault(a => a.news_id.Equals(item.id));
                <li>
                    <a class="bv_news_list_img" href="/Promotion/NewsPromotionDetail/@item.id">
                        <img src="/Content/FrontEnd/style/images/blank.gif" style="background-image: url(@if (@bidvNewsImage != null)
                                                                                                         {
                       @HelperString.GetImageUrl(bidvNewsImage.created.Value, @bidvNewsImage.image, Constant.ImageSize306, Constant.CategoryNew)
                                                                                                         })" />
                        <span class="time">@HelperDateTime.ConvertTimespan2DateTime(item.time_from.Value).ToString("dd/MM") - @HelperDateTime.ConvertTimespan2DateTime(item.time_to.Value).ToString("dd/MM")</span>
                        @{
                var created = HelperDateTime.ConvertTimespan2DateTime(item.dateof.Value);
                        }
                        <span class="time">@(created.Day < 10 ? "0" + created.Day : created.Day.ToString())<br><span>TH @(created.Month < 10 ? "0" + created.Month : created.Month.ToString())</span></span>
                        <span class="view"><i class="bv_ic_views"></i><br />@item.view</span>
                    </a>
                    <a class="bv_news_list_tit" href="/Promotion/NewsPromotionDetail/@item.id">@item.title</a>
                    <div class="bv_news_list_des">
                        @item.sort_body
                    </div>
                    <a class="bv_news_list_link fl bv_news_list_link_fix" href="/Promotion/NewsPromotionDetail/@item.id">
                        <i class="bv_news_list_l_list"></i>
                        Chi tiết
                    </a>
                    <span class="bv_right_span">
                        <i class="bv_clock"></i>&nbsp;@HelperDateTime.ConvertTimespan2DateTime(item.time_from.Value).ToString("dd/MM") - @HelperDateTime.ConvertTimespan2DateTime(item.time_to.Value).ToString("dd/MM")
                    </span>
                </li>
            }
        </ul>
        <div class="c"></div>
        <div class="bv_pagging">
            @if (Model.PageCount > 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            }
        </div>
    </div>
</div>